h1 {
  color: Green;
  text-align: center;
   font-family: monospace , cursive;
  font-size: 100px;
  background: LightSkyBlue;
  
  <!--text-shadow: 1px 1px 2px black, 0 0 25px #f6511d, 0 0 5px #ffb400; -->
}

p {
  color: Green;
  text-align: center;
  font-family: monospace , cursive;
}

body {
  background: linear-gradient(0, #FFFFF0, #87CEFA);
}
